<%= render partial: "shared/user" %>
<table class="table table-hover">
  <tbody>
    <% @drafts.each do |draft| %>
      <tr>
        <th class="text-center"><%= draft.title %></th>
        <td class="text-center"><%= draft.status %></td>
        <td class="text-center"><%= draft.created_at.to_date %></td>
        <td><%= link_to "edit", edit_post_path(draft) %>
            <%= link_to 'delete', post_path(draft), method: :delete, data: { confirm: "Are you sure?"} %>
        </td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>