    <table class="table table-hover">
      <tbody>
        <% @posts.each do |post| %>
        <tr>
          <th scope="row"><%= post.replies_count %></th>
          <td><%= link_to post.title, post_path(post) %></td>
          <td>
            <% if post.replies.present? %>
            <%= post.replies.last.created_at.to_date %>
            <% end %>
          </td>
          <td><%= post.vieweds_count %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    
    <%= paginate @posts %>