<div class="post-index" >
  <div class="col-md-12">
    <h1>Dojo Forum</h1>       
  </div>
</div>

<div class="container">
  <div class="row">
    <ul class="nav nav-pills">
      <li class="nav-item"><%= link_to "All", root_path, class: "nav-link" %></li>
        <% @categories.each do |category| %>
          <li class="nav-item"><%= link_to category.name, category_path(category), class: "nav-link" %></li>
        <% end %>
    </ul>  
    <br>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Replies count</th>
          <th scope="col">Title</th>
          <th scope="col">Last replied at</th>
          <th scope="col">Viewed count</th>
        </tr>
      </thead>
      <tbody>
        <% @posts.each do |post| %>
        <tr>
          <th scope="row"><%= post.replies_count %></th>
          <td><%= post.title %></td>
          <td>
            <% if post.replies.present? %>
            <%= post.replies.last.created_at %>
            <% end %>
          </td>
          <td><%= post.viewed_count %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @posts %>
  </div>
</div>