<div class="post-index" >
  <div class="col-md-12">
    <h1>Dojo Forum</h1>       
  </div>
</div>

<div class="container">
  <div class="row">
    <ul class="nav nav-pills">
      <li class="nav-item"><%= link_to "All", root_path, class: "nav-link" %></li>
      <% @categories.each do |category| %>
      <li class="nav-item"><%= link_to category.name, category_path(category), class: "nav-link" %></li>
      <% end %>
    </ul>  
    <br>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col"><%= link_to 'Replies count', posts_path( :order => "replies_count") %></th>
          <th scope="col">Title</th>
          <th scope="col"><%= link_to 'Last replied at', posts_path( :order => "last_replied_at") %></th>
          <th scope="col"><%= link_to 'Viewed count', posts_path( :order => "vieweds_count") %></th>
        </tr>
      </thead>
      <%= render partial: "shared/post_list" %>
    </table>
  </div>
</div>